<div class="form mt-5">
  <form action="#" method="post" role="form" class="php-email-form">
    <div class="row">
      <h2>Ready for more?</h2>
      <div class="form-group col-lg-8">
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          placeholder="Input your E-mail"
          required
        />
      </div>

      <div class="col-lg-4">
        <button type="submit">Send Message</button>
      </div>
    </div>
  </form>
</div>
