<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>{{ page.title | default: site.title }}</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon" />
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet"
  />
  <!-- pluging CSS Files -->
  <link
    href="/assets/pluging/bootstrap/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link
    href="/assets/pluging/bootstrap-icons/bootstrap-icons.css"
    rel="stylesheet"
  />
  <link href="/assets/pluging/swiper/swiper-bundle.min.css" rel="stylesheet" />
  <link
    href="/assets/pluging/glightbox/css/glightbox.min.css"
    rel="stylesheet"
  />
  <link href="/assets/pluging/aos/aos.css" rel="stylesheet" />

  <!-- Template Main CSS Files -->
  <link href="/assets/css/variables.css" rel="stylesheet" />
  <link href="/assets/css/main.css" rel="stylesheet" />
</head>
