<header id="header" class="header d-flex align-items-center fixed-top">
  <div
    class="container-fluid container-xl d-flex align-items-center justify-content-between"
  >
    <a href="/" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1>{{ site.title }}</h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        {% for link in site.navigation %}
        <li>
          <a
            href="{{ link.url }}"
            class="{% if page.url == link.url %}active{% endif %}"
            >{{ link.title }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </nav>
    <!-- .navbar -->

    <div class="position-relative">
      <a href="#" class="mx-2"><span class="bi-facebook d-none"></span></a>
      <a href="#" class="mx-2"><span class="bi-twitter d-none"></span></a>
      <a href="#" class="mx-2"><span class="bi-instagram d-none"></span></a>

      <a href="#" class="mx-2 js-search-open"
        ><span class="bi-search"></span
      ></a>
      <i class="bi bi-list mobile-nav-toggle"></i>

      <!-- ======= Search Form ======= -->
      <div class="search-form-wrap js-search-form-wrap">
        <form action="/search/" method="get" class="search-form">
          <span class="icon bi-search"></span>
          <button class="btn-2 bi-search" type="submit"></button>
          <input
            type="text"
            placeholder="Search"
            class="form-control"
            id="search-box"
            name="query"
          />
          <button class="btn js-search-close">
            <span class="bi-x"></span>
          </button>
        </form>
      </div>
      <!-- End Search Form -->
    </div>
  </div>
</header>
