<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <!-- ======= Header ======= -->
    {% include header.html %}
    <!-- End Header -->

    <main id="main">
      <!-- ======= Post Grid Section ======= -->
      <section id="posts" class="posts">
        <div class="container">
          <div class="row g-5 justify-content-center">
            <div class="col-lg-9 col-md-9 col-12">
              <div class="row">
                {% for posts in site.posts %}
                <!---->
                {% if posts.featured != false %}
                <div class="col-md-6">
                  <div class="post-entry-1 lg">
                    <a href="{{posts.url}}"
                      ><img
                        src="{{posts.image}}"
                        alt="{{posts.title}}"
                        class="img-fluid"
                    /></a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="post-entry-1 lg">
                    <div class="height">
                      <div class="post-meta">
                        {% for category in posts.categories %}
                        <span class="date">{{ category }},</span>
                        {% endfor %}
                        <span class="mx-1">&bullet;</span>
                        <span>
                          {{ posts.date | date_to_string: "ordinal", "US" }}
                        </span>
                      </div>
                      <h2>
                        <a href="{{posts.url}}">{{posts.title}}</a>
                      </h2>
                      <p class="mb-4 d-block">{{posts.description}}</p>
                    </div>
                  </div>
                </div>
                {% endif %}
                <!---->
                {% endfor %}
              </div>

              <!---->
              <hr />
            </div>

            <div class="col-lg-9 col-md-9 col-12">
              <div class="row g-5">
                <div class="col-md-8">
                  <div class="aside-block">
                    <ul
                      class="nav nav-pills custom-tab-nav mb-4"
                      id="pills-tab"
                      role="tablist"
                    >
                      <li class="nav-item" role="presentation">
                        <button
                          class="nav-link active"
                          id="pills-popular-tab"
                          data-bs-toggle="pill"
                          data-bs-target="#pills-popular"
                          type="button"
                          role="tab"
                          aria-controls="pills-popular"
                          aria-selected="true"
                        >
                          Popular
                        </button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button
                          class="nav-link"
                          id="pills-trending-tab"
                          data-bs-toggle="pill"
                          data-bs-target="#pills-trending"
                          type="button"
                          role="tab"
                          aria-controls="pills-trending"
                          aria-selected="false"
                        >
                          Trending
                        </button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button
                          class="nav-link"
                          id="pills-latest-tab"
                          data-bs-toggle="pill"
                          data-bs-target="#pills-latest"
                          type="button"
                          role="tab"
                          aria-controls="pills-latest"
                          aria-selected="false"
                        >
                          Latest
                        </button>
                      </li>
                    </ul>

                    <div class="tab-content" id="pills-tabContent">
                      <!-- Popular -->
                      <div
                        class="tab-pane fade show active"
                        id="pills-popular"
                        role="tabpanel"
                        aria-labelledby="pills-popular-tab"
                      >
                        <!---->
                        {% for posts in site.posts %}
                        <!---->
                        {% if posts.popular != false %}

                        <div
                          class="row border-bottom pt-5 justify-content-center"
                        >
                          <div class="col-lg-4">
                            <div class="post-entry-1 mb-0">
                              <a href="{{posts.url}}"
                                ><img
                                  src="{{posts.image}}"
                                  alt="{{posts.title}}"
                                  class="img-fluid"
                              /></a>
                            </div>
                          </div>
                          <div class="col-lg-8">
                            <div class="post-entry-1">
                              <div class="post-meta">
                                {% for category in posts.categories %}
                                <span class="date">{{ category }},</span>
                                {% endfor %}
                                <span class="mx-1">&bullet;</span>
                                <span
                                  >{{ posts.date | date_to_string: "ordinal",
                                  "US" }}
                                </span>
                              </div>
                              <h2 class="mb-2">
                                <a href="{{ posts.url }}">{{ posts.title }}</a>
                              </h2>
                              <p class="mb-4 d-block">{{posts.description}}</p>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                        <!---->
                        {% endfor %}
                      </div>
                      <!-- End Popular -->

                      <!-- Trending -->
                      <div
                        class="tab-pane fade"
                        id="pills-trending"
                        role="tabpanel"
                        aria-labelledby="pills-trending-tab"
                      >
                        {% for posts in site.posts %}
                        <!---->
                        {% if posts.trending != false %}
                        <div
                          class="row border-bottom pt-5 justify-content-center"
                        >
                          <div class="col-lg-4">
                            <div class="post-entry-1 mb-0">
                              <a href="{{posts.url}}"
                                ><img
                                  src="{{posts.image}}"
                                  alt="{{posts.title}}"
                                  class="img-fluid"
                              /></a>
                            </div>
                          </div>
                          <div class="col-lg-8">
                            <div class="post-entry-1">
                              <div class="post-meta">
                                {% for category in posts.categories %}
                                <span class="date">{{ category }},</span>
                                {% endfor %}
                                <span class="mx-1">&bullet;</span>
                                <span
                                  >{{ posts.date | date_to_string: "ordinal",
                                  "US" }}
                                </span>
                              </div>
                              <h2 class="mb-2">
                                <a href="{{ posts.url }}">{{ posts.title }}</a>
                              </h2>
                              <p class="mb-4 d-block">{{posts.description}}</p>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                        <!---->
                        {% endfor %}
                      </div>
                      <!-- End Trending -->

                      <!-- Latest -->
                      <div
                        class="tab-pane fade"
                        id="pills-latest"
                        role="tabpanel"
                        aria-labelledby="pills-latest-tab"
                      >
                        {% assign sorted_posts = site.posts | sort: 'date' |
                        reverse %}
                        <!---->
                        {% for posts in sorted_posts limit:6 %}
                        <div
                          class="row border-bottom pt-5 justify-content-center"
                        >
                          <div class="col-lg-4">
                            <div class="post-entry-1 mb-0">
                              <a href="{{posts.url}}"
                                ><img
                                  src="{{posts.image}}"
                                  alt="{{posts.title}}"
                                  class="img-fluid"
                              /></a>
                            </div>
                          </div>
                          <div class="col-lg-8">
                            <div class="post-entry-1">
                              <div class="post-meta">
                                {% for category in posts.categories %}
                                <span class="date">{{ category }},</span>
                                {% endfor %}
                                <span class="mx-1">&bullet;</span>
                                <span
                                  >{{ posts.date | date_to_string: "ordinal",
                                  "US" }}
                                </span>
                              </div>
                              <h2 class="mb-2">
                                <a href="{{ posts.url }}">{{ posts.title }}</a>
                              </h2>
                              <p class="mb-4 d-block">{{posts.description}}</p>
                            </div>
                          </div>
                        </div>
                        <!---->
                        {% endfor %}
                      </div>
                      <!-- End Latest -->

                      <a href="/archive/" class="btn btn-secondary mt-5"
                        >See All <i class="bi bi-chevron-right"></i
                      ></a>
                    </div>
                  </div>
                </div>

                <!-- End Trending Section -->
                <div class="col-md-4">{% include cta-small.html %}</div>
              </div>
            </div>
          </div>
          <!-- End .row -->
        </div>
      </section>
      <!-- End Post Grid Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include footer.html %}
    <a
      href="#"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    {% include scripts.html %}
  </body>
</html>
