<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <!-- ======= Header ======= -->
    {% include header.html %}<!-- End Header -->

    <main id="main">
      <!-- ======= Search Results ======= -->
      <section id="search-result" class="search-result">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-9 col-md-11 col-12 post-content">
              <!-- ======= Single Post Content ======= -->
              <div class="single-post">
                <h1>{{page.title}}</h1>
                <p class="mb-1 sub-tile">{{page.description}}</p>

                <div class="post-meta">
                  <span> {{ page.date | date: "%b %-d" }} </span>
                  <span class="mx-1">&bullet;</span>
                  <span class="under">
                    <!---->
                    {% assign author = site.authors | where: 'short_name',
                    page.author | first %}
                    <!---->
                    {% if author %}
                    <a href="{{ author.url }}">{{ author.name }}</a>
                    {% endif %}
                  </span>
                  <img
                    src="{{page.image}}"
                    alt="{{page.title}}"
                    class="img-fluid mt-5"
                  />
                </div>

                {{content}}

                <!---->

                <div class="form mt-5">
                  <form
                    name="contact"
                    netlify
                    action="/thank-you/"
                    method="POST"
                    data-netlify="true"
                    class="php-email-form"
                  >
                    <div class="row justify-content-center">
                      <h2>Subscribe to the Newsletter4</h2>
                      {% include cta.html %}
                      <div class="col-lg-12 mt-5">{% include share.html %}</div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- End Single Post Content -->

              <!-- ======= Comments ======= -->

              <!-- End Comments -->
            </div>
          </div>
        </div>
      </section>
      <!-- End Search Result -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include footer.html %}
    <a
      href="#"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    {% include scripts.html %}
  </body>
</html>
