<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <!-- ======= Header ======= -->
    {% include header.html %}<!-- End Header -->

    <main id="main">
      <!-- ======= Search Results ======= -->
      <section id="search-result" class="search-result">
        <div class="container">
          <div class="row">
            <div class="col-md-9 post-content">
              <!-- ======= Single Post Content ======= -->
              <div class="single-post">
                <div class="post-meta">
                  {% for category in page.categories %}
                  <span class="date">{{ category }},</span>
                  {% endfor %}
                  <span class="mx-1">&bullet;</span>
                  <span>
                    {{ page.date | date_to_string: "ordinal", "US" }}</span
                  >
                </div>
                <h1 class="mb-5">{{page.title}}</h1>

                {{content}}

                <!---->

                {% include cta-big.html %}
              </div>
              <!-- End Single Post Content -->

              <!-- ======= Comments ======= -->

              <!-- End Comments -->
            </div>
          </div>
        </div>
      </section>
      <!-- End Search Result -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include footer.html %}
    <a
      href="#"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    {% include scripts.html %}
  </body>
</html>
